/* Base button class */
/* ---------------------------------------------- */
.btn {
	display: inline-flex;
	cursor: pointer;
	text-decoration: none;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	overflow: hidden;
	background-clip: padding-box;
	position: relative;
	font-weight: var(--font-weight-normal);
	font-size: var(--text-sm);
	line-height: 1;
	transition: var(--btn-transition);
	gap: var(--btn-gap);
	padding: var(--btn-padding);
	transition: var(--btn-transition);

	&[disabled] {
		cursor: default;
		filter: grayscale(100%);

		&:hover {
			text-decoration: none;
		}
	}
}



/* Primary buttons */
/* ---------------------------------------------- */
.btn-primary {
	border: solid var(--btn-border-width) var(--btn-primary-border);
	border-radius: var(--btn-radius);
	background-color: var(--btn-primary-bg);
	color: var(--btn-primary-color);

	&:hover:not([disabled]),
	&:focus {
		text-decoration: none;
		color: var(--btn-primary-color-hover);
		border-color: var(--btn-primary-border-hover);
		background-color: var(--btn-primary-bg-hover);
	}
}
