

nav ol {
	--_gap: 2rem;

}

nav li {
	padding: 1rem;
	min-inline-size: 3rem;
	overflow: hidden;
	position: relative;
}

nav li::after {
	content: '';
	position: absolute;
	inset-inline: 0;
	inset-block-end: 0;
	block-size: 3px;
	background-color: orangered;

	translate: var(--_translate, 0);
	scale: var(--_scale, 0) 1;
	transition:
		scale 100ms var(--_scale-delay, 0ms),
		translate 200ms;
}

/* A previous sibling is hovered */
nav li:hover ~ li {
	--_translate: -100%;
	--_scale-delay: 200ms;
}

/* Any other sibling is hovered */
nav:hover li {
	--_translate: 100%;
	--_scale-delay: 200ms;
}

/*
  The actually hovered <li>

  NOTE: same specificity as previous selector, so it must either come after or be artificially inflated (eg. :hover:hover)
*/
nav li:hover,
nav li.is-current::after {
	--_scale: 1;
	--_translate: 0;
	--_scale-delay: 0ms;
}

