@theme {
	--breakpoint-*: initial;
	--breakpoint-sm : 500px;
	--breakpoint-md : 768px;
	--breakpoint-lg : 1020px;
	--breakpoint-xl : 1280px;
	--breakpoint-2xl : 1440px;

	--container-*: initial;
	--container-xs : 320px;
	--container-sm : 440px;
	--container-md : 680px;
	--container-lg : 920px;

}