@theme {
	--spacing-*: initial;
	--spacing-gutter-sm : 12px;
	--spacing-gutter : 24px;
	--spacing-gutter-lg: 48px;
	--spacing-gutter-xl: 100px;


	--spacing-notification : 40px;

	--spacing-banner-social : 265px;
	--spacing-banner-hero : 650px;
	--spacing-banner-hero-basic : 400px;

	--spacing-container-md : 1038px;
	--spacing-container-sm : 684px;

	--spacing-sticky-top : 120px;

	--spacing-0: 0;
	--spacing-1: 1px;
	--spacing-2: 2px;
	--spacing-4: 4px;
	--spacing-8: 8px;
	--spacing-12: 12px;
	--spacing-16: 16px;
	--spacing-20: 20px;
	--spacing-24: 24px;
	--spacing-28: 28px;
	--spacing-32: 32px;
	--spacing-40: 40px;
	--spacing-48: 48px;
	--spacing-56: 56px;
	--spacing-64: 64px;
	--spacing-72: 72px;
	--spacing-80: 80px;
	--spacing-100: 100px;
	--spacing-120: 120px;
	--spacing-160: 160px;


	--radius: 24px;
	--radius-sm: 12px;
	--radius-md: 32px;
	--radius-lg: 48px;

}
