:root {
	/* Site  */
  /* ---------------------------------------------- */
	--body-bg: var(--color-white);
	--color-dark: var(--color-black);
	--color-light: var(--color-white);

  /* Typography */
  /* ---------------------------------------------- */
  --text-body-color: var(--color-black);
  --text-link-color: var(--color-black);
  --text-link-color-hover: var(--color-black);
  --text-link-color-focus: var(--color-black);

  /* Form fields */
  /* ---------------------------------------------- */
  --field-padding: 10px;
  --field-border-width: 0;
  --field-border-radius: 20px;
  --field-error-color: var(--color-magenta);
  --field-color: var(--color-black);
  --field-placeholder: var(--color-black);
	--field-checkbox-color: var(--color-gray);
  --field-radio-color: var(--color-gray);
  --field-border-color: var(--color-white);
  --field-background: var(--color-white);
  --field-background-hover: var(--color-white);
  --field-border-hover: var(--color-white);
  --field-background-focus: var(--color-white);
  --field-border-focus: var(--color-white);

  /* Buttons */
  /* ---------------------------------------------- */
  /* Defaults */
  --btn-radius: 20px;
  --btn-padding: 10px 18px;
  --btn-border-width: 1px;

	--btn-background: var(--color-black);
  --btn-color: var(--color-white);
  --btn-border-color: var(--color-black);

	--btn-background-hover: var(--color-slate);
  --btn-color-hover: var(--color-white);
  --btn-border-color-hover: var(--color-slate);

	--btn-background-disabled: var(--color-slate);
  --btn-color-disabled: var(--color-white);
  --btn-border-color-disabled: var(--color-slate);

  /* Primary */
  --btn-primary-background: var(--color-magenta);
  --btn-primary-color: var(--color-white);
  --btn-primary-border-color: var(--color-magenta);

	--btn-primary-background-hover: var(--color-steel);
  --btn-primary-color-hover: var(--color-white);
  --btn-primary-border-color-hover: var(--color-steel);

	--btn-primary-background-disabled: var(--color-slate);
  --btn-primary-color-disabled: var(--color-white);
  --btn-primary-border-color-disabled: var(--color-slate);


}
